body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.header {
    background: #1f1f1f;
    color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.admin-login {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 6px;
}

.admin-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.admin-card {
    background: white;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: .2s;
}

    .admin-card:hover {
        transform: scale(1.03);
    }

.admin-photo {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.shop-info {
    margin-top: 40px;
    text-align: center;
}*/

/*------------------------------------------------------------------------------------------------------------------*/



/* === LOGIN PAGE === */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
}

.login-box {
    background: #ffffff;
    width: 380px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    animation: fadeInUp 0.6s ease;
}

.login-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: #333;
    font-weight: 700;
}

.login-error {
    color: #c90000;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-group {
    margin-bottom: 20px;
}

    .login-group label {
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
    }

.login-input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
}

    .login-input:focus {
        border-color: #0d6efd;
        outline: none;
        box-shadow: 0px 0px 6px rgba(13,110,253,0.4);
    }

.login-btn {
    width: 100%;
    padding: 12px;
    background: #0d6efd;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

    .login-btn:hover {
        background: #0b5ed7;
    }

/* giriþ kutusunun animasyonu */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
